body {

}

.whiteFont {color: #FFFFFF}

#rcorners1 {
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px; 
    width: 550px;
    height: 110px; 
    background-color: black;
}

#rcorners2 {
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px; 
    width: 550px;
    height: 110px; 
    background-color: white;
}

progress {
  color: #0063a6;
  font-size: .6em;
  line-height: 1.5em;
  text-indent: .5em;
  width: 250px;
  height: 1.8em;
  border: 1px solid #0063a6;
  background: #FFFFFF;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
